In [1]:
input()

 anurag

'anurag'

In [4]:
name=input("enter the colleg name")

enter the colleg name tech vidya

In [5]:
age=int(input("enter the age"))

enter the age 24

In [6]:
type(age)

int

In [10]:
age=int(input("enter the age"))
if age>=18 and age<=45:
   print("you are young blood")

enter the age 24

you are young blood

In [13]:
24>=18

True

In [15]:
24<=18

False

In [16]:
age=int(input("enter the age"))
if age>=18 and age<=45:
   print("you are young blood")
else:
   print("thank you we will let you know")

enter the age 15

thank you we will let you know

In [ ]:
## mall input the product price
## product >1000 rs 20% off 
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price

In [19]:
product_price=int(input("enter the price"))
if   product_price>1000:
     print("the price of the product is {}".format(product_price*0.8))
else:
     print("the price of the product is {}".format(product-price*0.7))

enter the price 10000

the price of the product is 8000.0

In [21]:
int((20/100)*10000)

2000